#outer_div {
    height:600px;
    padding-top:40px;
    background-color:whitesmoke;
    padding-left:30px;
}

#inner_div {
    height:40px;
    background-color:rgb(188, 210, 188);
    
}


#first_text {
    background-color:green;
    border-radius:3px;
    padding-left:4px;
    padding-right:10px;
}

#text_div {
    padding-top:8px;
    padding-left:60px;
}

#second_text {
    padding-left:6px;

}

#head_text2 {
    text-align:right;
}

.flex_container{
    display: flex;
    background-color:whitesmoke;
    justify-content:space-around;
}

.flex_container > div {
    height: 180px;
    width: 200px;
    margin-top:40px;
    text-align: left;
    color: white;
    text-decoration: double;  
    padding-top: 19px;  
}       

#square1{
    background-color: dodgerblue;
}

#square2{
    background-color: skyblue;
}

#square3{
    background-color: gold;
}

#square4{
    background-color:coral;
}

.theFlexContainer{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
}

.theFlexContainer > div {
    width: 200px;
    height:80px;
    text-align: center;
    color: white;
    text-decoration: solid;
    padding-top: 40px;
    font-weight:bolder;
    font-size: xx-large;
}

#rec1{
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rec2{
    background-color: dodgerblue;
}

#rec3{
    background-color: mediumblue;
}

#rec4{
    background-color:darkorange;
}

.my_flex_container{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
}

.my_flex_container > div{
    width: 200px;
    height:80;
    word-spacing:1.8cm;
    background-color: white;
    font-size: small;
    color:grey;
    padding-top:15px;
}