#outer_div {
    height:600px;
    padding-top:40px;
    background-color:whitesmoke;
    padding-left:30px;
}

#inner_div {
    height:40px;
    background-color:rgb(188, 210, 188);
    border-radius: 6px;
    
}


#first_text {
    background-color:green;
    border-radius:3px;
    padding-left:4px;
    padding-right:10px;
}

#text_div {
    padding-top:8px;
    padding-left:60px;
}

#second_text {
    padding-left:6px;

}

#head_text2 {
    text-align:right;
}

.flex_container{
    display: flex;
    background-color:whitesmoke;
    
}

.flex_container > div {
    height: 180px;
    width: 200px;
    margin-top:40px;
    text-align: left;
    color: white;
    text-decoration: double;  
    padding-top: 19px;
    padding-left: 20px;  
    
    
}
   

#square1{
    background-color: dodgerblue;
    margin-left:90px;

}

#square2{
    background-color: skyblue;
    margin-left:50px;
}


#square3{
    background-color: gold;
    margin-left:50px;
}


#square4{
    background-color:coral;
    margin-left:50px;
}

.theFlexContainer{
    display: flex;
    background-color: whitesmoke;
    
}

.theFlexContainer > div {
    width: 200px;
    height:90px;
    text-align: center;
    color: white;
    text-decoration: solid;
    padding-top: 30px;
    font-weight:bolder;
    font-size: xx-large;
    padding-left:20px;
    
}



#rec1{
    background-color: blue;
    margin-left: 90px;
    
}

#rec2{
    background-color: dodgerblue;
    margin-left:50px;
}

#rec3{
    background-color: mediumblue;
    margin-left:50px;
}

#rec4{
    background-color:darkorange;
    margin-left:50px;
}

.my_flex_container{
    display: flex;
    background-color: whitesmoke;
    

}

.my_flex_container > div{
    width: 200px;
    height:80;
    word-spacing:1.8cm;
    background-color: white;
    font-size: small;
    color:grey;
    padding-top:15px;
    padding-left:20px;
}

.plainsquare{
    margin-left:50px;  
}

#thisSquare{
    margin-left:90px;
}


